.animated-splash {
  background-color: #000;
  background-image: url('images/logo-background-1.png'), url('images/logo-background-2.png');
  background-position: 0 0, 0 0;
  background-repeat: repeat-x, repeat-x;
  width: 290px;
  height: 290px;
  overflow: hidden;
  border-radius: 145px;
  -webkit-border-radius: 145px;
  -moz-border-radius: 145px;
  box-shadow: inset 0 0 0 1px #000, 0 2px 8px 2px #000;
  -webkit-box-shadow: inset 0 0 0 1px #000, 0 2px 8px 2px #000;
  -moz-box-shadow: inset 0 0 0 1px #000, 0 2px 8px 2px #000;
  animation: animated-splash 10s linear 0s infinite;
  -webkit-animation: animated-splash 10s linear 0s infinite;
  -moz-animation: animated-splash 10s linear 0s infinite;
}

@keyframes animated-splash {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 1024px 0, 512px 0;
  }
}

@-webkit-keyframes animated-splash {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 1024px 0, 512px 0;
  }
}

@-moz-keyframes animated-splash {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 1024px 0, 512px 0;
  }
}
